# -------------------------------------------------------------------
# If we are on Windows, ignore the Linux/WSL specific files
# -------------------------------------------------------------------
{{ if eq .chezmoi.os "windows" }}
.bashrc
.config/nvim
.nanorc
.tmux.conf
.env.tmpl
.wsl-conf-source
*.sh
*.ansible

{{ end }}

# -------------------------------------------------------------------
# If we are on Linux (WSL2), ignore the Windows specific files
# -------------------------------------------------------------------
{{ if eq .chezmoi.os "linux" }}
AppData
"02-Dotfiles"
.wslconfig
.config/opencutlist
{{ end }}
